# Config local
eulalia-backend.Api/appsettings.json 

# Build
bin/
obj/

# VS files
.vs/
*.user
*.suo

# Config
*.log
appsettings*.json
!appsettings.Development.json

# Agent workflows and skills
.agent/
.reportsAgents/
.requirements/

# Others
.env
